#no-result-div {
  display: flex;
  justify-content: center;
  color: #d5b8b8;
}

li {
  padding: 0.2rem 0;
  border-top: 1px solid rgb(255 253 251 / 13%);
}

#result-topic li:first-child{
  border: 1px solid rgb(255 253 251 / 22%);
  border-radius: 5px;
  font-size: large;
  margin: 1.5rem;
}

h4 {
  display: flex;
  justify-content: center;
  color: #b7a29f;
}